:root {
  --dark: hsl(230, 40%, 20%);
  --medium: hsl(230, 34%, 28%);
  --sort-of-light: hsl(230, 33%, 33%);
  --light: hsl(230, 30%, 36%);
  --lighter: hsl(230, 30%, 40%);
  --text: #e7e7e7;
  --link: rgb(90, 180, 219);
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--link);
}

.border {
  border: 2px solid var(--light);
}

.border-dark {
  border: 3px solid var(--dark);
}

main {
  display: grid;
  margin: 0;
  padding: 1rem;
  height: calc(100vh - 2rem);
  background-color: var(--dark);
  color: var(--text);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;

  gap: 1rem;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-template-areas: 'profile about about'
  'projects projects projects';
}

section {
  border-radius: 8px;
  background-color: var(--medium);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11);
  font-size: 1.2rem;
  line-height: 1.5;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  text-align: center;

  grid-area: profile;
}

.profile img {
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile h1, h3 {
  margin: 0;
}

.profile .contact img {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(1);
  margin: 0 0.5rem;
  transition: transform 150ms ease-out;
}
.profile .contact img:hover {
  transform: scale(1.2);
}

.about {
  grid-area: about;
  overflow-y: scroll;
}

.about > article {
  padding: 1rem;
}
.about > article:not(:last-child) {
  border-bottom: 2px solid var(--light);
}

.projects {
  grid-area: projects;
  display: flex;
  flex-direction: row;
  background: transparent;
  gap: 0 1rem;
  padding-bottom: 1rem;
  overflow-x: scroll;
}

.projects > article {
  padding: 1rem;
  min-width: calc((100%)/3 - 3rem + 2px);
  background-color: var(--medium);
  border: 2px solid var(--light);
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects > .arrow {
  position: absolute;
  top: calc(70%);
  right: 0px;
  transition: transform 200ms ease-out, opacity 200ms ease-out;
  cursor: pointer;
}
.projects > .arrow:hover {
  transform: scale(1.2) translateX(-0.5rem);
}
.projects > .arrow.hide {
  opacity: 0;
}

@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .about {
    height: max-content;
  }
  .projects {
    flex-direction: column;
    gap: 1rem;
  }
  .projects > .arrow {
    display: none;
  }
}